.buddypress-wrapper {
  .widget-area {
    > li {
      list-style: none;
      background: #ffffff none no-repeat scroll 0 0;
      border-width: 1px;
      border-style: solid;
      border-color: #cccccc;
      margin-bottom: 15px;
      h2 {
        @include fontCall("DINNextLTPro-Bold", 12);
        color: #a6a3a6;
        letter-spacing: 0;
        text-transform: uppercase;
        padding: 3px 0 4px 0;
        margin: 0 5px;
      }
      .em-calendar-wrapper {
        clear: left;
        margin-bottom: 1px;
        padding: 5px;
        position: relative;
        word-wrap: break-word;
        table.em-calendar {
          border: none;
          width: 100%;
          thead {
            a {
              color: black;
            }
          }
          td {
            background: white;
            @include fontCall("DINNextLTPro-Regular", 12);
          }
        }
      }
      &#bp_core_members_widget-2 {
        #members-list-options {
          text-align: center;
          @include fontCall("DINNextLTPro-Light", 12);
        }
        #members-list {
          clear: left;
          padding: 5px;
          position: relative;
          word-wrap: break-word;
          margin: 0;
          .vcard {
            border: none;
            padding: 0;
            margin: 3px 2px 3px 3px;
            .item-avatar {
              display: inline-block;
              img {
                width: 48px;
              }
            }
            .item {
              display: none;
            }
          }
        }
      }
      &#bp_groups_widget-2 {
        #groups-list-options {
          text-align: center;
          @include fontCall("DINNextLTPro-Light", 12);
        }
        #groups-list {
          clear: left;
          padding: 5px;
          position: relative;
          word-wrap: break-word;
          margin: 0;
          list-style: none;
          li {
            display: inline-block;
            width: 100%;
            margin: 5px 0;
            padding-bottom: 10px;
            border-bottom: 1px solid #cbcbcb;
            &:last-child {
              border-bottom: none;
            }
            .item-avatar {
              display: inline-block;
              float: left;
            }
            .item {
              margin-left: 60px;
              margin-top: 5px;
              @include fontCall("DINNextLTPro-Light", 12);
              .item-title {
                color: #14768f;
              }
            }
          }
        }
      }
      &#bp_core_login_widget-2 {
        display: inline-block;
        width: 100%;
        .bp-login-widget-user-avatar, .bp-login-widget-user-links {
          clear: left;
          padding: 5px;
          position: relative;
          word-wrap: break-word;
          margin: 0;
          list-style: none;
          display: inline-block;
          a {
            @include fontCall("DINNextLTPro-Light", 12);
          }
        }
        .bp-login-widget-user-avatar {
          float: left;
        }
        .bp-login-widget-user-links {
          margin-top: 19px;
          padding-bottom: 0;
        }
        form {
          clear: left;
          padding: 5px;
          position: relative;
          word-wrap: break-word;
          margin: 0;
          list-style: none;
          a {
            @include fontCall("DINNextLTPro-Light", 12);
          }
          label {
            @include fontCall("DINNextLTPro-Light", 12);
          }
          .input {
            width: 100%;
            border-radius: 0 !important;
            height: 30px;
            @include fontCall("DINNextLTPro-Light", 12);
          }
          #bp-login-widget-submit {
            @include fontCall("DINNextLTPro-Light", 12);
            border: 1px solid #cbcbcb;
            background: white;
            &:hover {
              background: #cbcbcb;
              cursor: pointer;
              color: white;
            }
          }
        }
      }
      &#wa-bp-activity-widget-2 {
        .wa-bp-activity-list {
          margin: 0;
          clear: left;
          padding: 5px;
          position: relative;
          word-wrap: break-word;
          list-style: none;
          li {
            padding: 0 !important;
            @include fontCall("DINNextLTPro-Light", 12);
            span {
              &.wa-bp-activity-content {
                margin-left: 40px;
              }
              a {
                img.avatar {
                  width: 32px;
                }
              }
            }
          }
        }
      }
      &#twg_random_image_widget-2 {
        table {
          border: none;
          td {
            padding: 0;
            img {
              border: 3px solid gray;
            }
          }
        }
      }
    }
  }
  #buddypress {
    .bpfb_actions_container.bpfb-theme-new .bpfb_toolbarItem:active, .bpfb_actions_container.bpfb-theme-new .bpfb_toolbarItem.bpfb_active {
      color: #cbcbcb;
    }
    .bpfb_form_container {
      background: white;
    }
    .loading {
      width: inherit;
    }
    .social-buttons {
      a {
        &::before {
          color: gray;
        }
      }
    }
    @include fontCall("DINNextLTPro-Light", 12);
    #whats-new-submit {
      input {
        @include fontCall("DINNextLTPro-Light", 12);
        padding: 4px 10px;

      }
    }
    form#whats-new-form {
      #whats-new-options {
        select {
          @include fontCall("DINNextLTPro-Light", 12);
          margin: 0;
          height: 30px;
        }
      }
    }
    div.activity-type-tabs {
      margin-top: 20px;
      ul {
        display: table;
        width: 100%;
        li {
          float: none;
          display: table-cell;
          a {
            @include fontCall("DINNextLTPro-Light", 12);
            display: inline-block;
            &:hover {
              background-color: #eee;
              span {
                background-color: white;
              }
            }
            span {
              padding: 3px 5px;
            }
          }
        }
      }
    }
    #subnav {
      ul {
        li {
          a {
            @include fontCall("DINNextLTPro-Light", 12);
          }
          &#activity-filter-select {
            label {
              display: none;
            }
            select {
              @include fontCall("DINNextLTPro-Light", 12);
              padding: 0 0 0 10px;
              height: 30px;
              max-height: 30px;
              max-width: 320px;
              width: 320px;
            }
          }
        }
      }
    }
  }
}


#create-group-form, #group-settings-form {
  .input-description {
    font-size: 12px;
    margin-top: -15px;
    color: gray;
  }
  .is-neighbourhood-div-wrapper {
    .is-neighbourhood-label {
      display: inline-block;
      margin-left: 10px;
    }
  }
}