.extra-pages {
  #right-sidebar {
    ul {
      list-style: none;
      li {
        a {
          line-height: 40px;
          @include fontCall("DINNextLTPro-UltraLight", 22);
          color: $default-gray;
        }
        &.current-category {
          a {
            @include fontCall("DINNextLTPro-Regular", 22);
            color: $default-red;
          }
        }
      }
    }
  }
  .post {
    .post-social-button {
      display: inline-block;
      float: left;
      position: relative;
      width: 50px;
      .post-social-button-wrapper {
        background: #ebebeb;
        padding: 10px 10px;
      }
      margin-left: -50px;

    }
    .extra-post-header {
      border: 1px solid #c2c2c2;
      border-bottom: none;
      padding: 25px;
      position: relative;
      h1 {
        color: $default-red;
        @include fontCall("DINNextLTPro-Regular", 50);
      }
    }

    .extra-post-gallery {
      .bjqs-controls {
        margin-top: -97px;
        width: 100%;
        bottom: 97px;
        z-index: 1;
        li {
          height: 97px;
          max-height: 97px;
          position: absolute;
          &.bjqs-next {
            right: 0;
            a {
              background-position: -74px 0;
            }
          }
          a {
            background-color: #464A4D;
            background-image: url("../img/gallery-arrows.png");
            background-repeat: no-repeat;
            font-size: 0;
            height: 97px;
            max-height: 97px;
            display: block;
            width: 63px;
            box-sizing: border-box;
            background-position: -3px 0;
            &:hover {
              background-color: #686d70;
            }
          }
        }
      }
      li.bjqs-slide {
        background: #000000;
        a {

        }
        .slider-image-info-wrapper {
          background: black;
          margin: 0 62px;
          padding: 10px;
          color: #E9E9E9;
          height: 97px;
          min-height: 97px;
          overflow: hidden;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          .s-byline {
            font: italic 11px/14px "Arial";
            color: #999;
            text-align: left;
            padding: 10px 0 30px;
            height: 0;
            filter: alpha(opacity=0);
            opacity: 0;
          }
          &.expandable {
            &:hover {
              cursor: pointer;
            }
            &:after {
              content: "Read More \00a0 \00a0 \00a0 \00a0 \00a0";
              font: 12px/10px "Arial";
              color: #b6b6b6;
              display: inline-block;
              width: 100%;
              height: 10px;
              text-align: right;
              background: url("../img/read-caption.png") right 4px no-repeat;
              cursor: pointer;
              position: absolute;
              bottom: 10px;
              right: 10px;
            }
            .slider-image-info-description {
              &:after {
                content: ".";
                color: #000;
                position: absolute;
                bottom: 2px;
                right: -20px;
                padding: 0 20px;
                width: 100%;
                text-align: right;
                background: url("../img/dots-caption.png") right 0 no-repeat;
              }
            }
            &.expanded {
              height: auto;
              background: url("../img/trans85.png") 0 0;
              background: rgba(0,0,0,.70);
              .slider-image-info-description {
                height: auto;
              }
              .s-byline {
                opacity: 1;
              }
              &:after {
                content: "Read Less \00a0 \00a0 \00a0 \00a0 \00a0 ";
                background: url("../img/read-caption.png") right -11px no-repeat;
              }
              .slider-image-info-description {
                &:after {
                  opacity: 0;
                }
              }
            }
          }
          .slider-image-info-caption {
            @include fontCall("DINNextLTPro-Regular", 18);
            margin-bottom: 5px;
            margin-right: 55px;
            min-height: 22px;

          }
          .slider-image-info-description {
            @include fontCall("DINNextLTPro-Regular", 13);
            position: relative;
            text-align: justify;
            line-height: 17px;
            height: 35px;
            overflow: hidden;
          }
        }
      }
    }

    .under-image-wrapper {
      border: 1px solid #c2c2c2;
      border-top: none;
      padding: 25px;
      .date-time-info {
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        li {
          &:first-child {
            margin-left: 0;
          }
          margin: 0 5px;
          display: inline-block;
          @include fontCall("DINNextLTPro-UltraLight", 18);
        }
      }
      .extra-post-content {
        @include fontCall("DINNextLTPro-UltraLight", 18);
        color: #464646;
        a {
          @include fontCall("DINNextLTPro-Regular", 18);
          color: $default-red;
        }
      }
      .social-share-icons.single-customize {
        margin-top: 15px;
        .social-share-title {
          margin-bottom: 15px;
          @include fontCall("DINNextLTPro-Medium", 24);
          color: #d64949;
        }
      }
    }
    .post-footer-block {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-top: 20px;
      .related-post-title {
        @include fontCall("DINNextLTPro-Medium", 30);
        color: #000000;
        margin-bottom: 35px;
      }
      .related-post-wrapper {
        margin-bottom: 30px;
        height: 75px;
        overflow: hidden;
        .related-post-thumbnail {
          height: inherit;
          overflow: hidden;
          float: left;
          img {
            width: 150px;
          }
          .no-image {
            width: 150px;
            height: inherit;
            font-size: 20px;
            box-sizing: border-box;
            line-height: 75px;
            color: #222;
            text-shadow: 0px 2px 3px #666;
            text-align: center;
            background: #525252;
          }
        }
        .related-post-headline {
          margin-left: 150px;
          padding-left: 20px;
          word-break: break-all;
          a {
            @include fontCall("DINNextLTPro-Medium", 15);
            color: #464646;
          }
        }
      }
    }
  }
}