@mixin fontCall($font: "DINNextLTPro-Black", $fontSize: 14, $fontWeight: normal, $fontStyle: normal) {
  font-family: $font, serif;
  font-size: $fontSize + px;
  font-weight: $fontWeight;
  font-style: $fontStyle;
}

@mixin noImage($lineHeight: 180, $height: inherit, $fontSize: 40) {
  height: $height;
  font-size: $fontSize + px;
  box-sizing: border-box;
  line-height: $lineHeight + px;
  color: #222;
  text-shadow: 0px 2px 3px #666;
  text-align: center;
  background: #525252;
}

$base-a-color: #000;
$default-red: #d64949;
$default-green: #62ba77;
$default-gray: #464646;
$default-light-gray: #c2c2c2;
$image-path: '../img/';


@mixin headerAuthLink() {
  $auth-icon-width: 25px;
  ul {
    margin: 5px;
    li {
      margin-left: 5px;
      a {
        font-size: 0;
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        background: url("../img/header-soc-icon-menu.png");
      }
      &.search {
        a {
          background-position: 0 0;
          &:hover {
            background-position: 0 -30px;
          }
        }

      }
      &.email {
        a {
          background-position: -($auth-icon-width * 1) 0;
          &:hover {
            background-position: -($auth-icon-width*1) -30px;
          }
        }
      }

      &.facebook {
        a {
          background-position: -($auth-icon-width * 2) 0;
          &:hover {
            background-position: -($auth-icon-width * 2) -30px;
          }
        }
      }

      &.twitter {
        a {
          background-position: -($auth-icon-width * 3) 0;
          &:hover {
            background-position: -($auth-icon-width * 3) -30px;
          }
        }
      }

      &.instagram {
        a {
          background-position: -($auth-icon-width * 4) 0;
          &:hover {
            background-position: -($auth-icon-width * 4) -30px;
          }
        }
      }

      &.linkedin {
        a {
          background-position: -($auth-icon-width * 5) 0;
          &:hover {
            background-position: -($auth-icon-width * 5) -30px;
          }
        }
      }
    }
  }
}


.relative {
  position: relative;
}

.green {
  color: $default-green;
}

.absolute {
  position: absolute;
}

.default-red {
  color: $default-red;
}

.red-line {
  background: $default-red;
}

.Px10 {
  height: 10px;
}

.default-red-bg {
  background: $default-red;
}

.post-social-button {

  .ssba {
    width: 30px;

    .ssba_sharecount {
      display: none;
    }

    background: #ebebeb !important;
    a {
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      display: block;
      margin: 0 0 10px 0;
      background-image: url("../img/soc_icons_sprite.png");
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      img {
        display: none !important;
      }

      &.ssba_facebook_share {
        background-position: 0 0;
        &:hover {
          background-position: 0 -35px;
        }
      }

      &.ssba_twitter_share {
        background-position: 0 -70px;
        &:hover {
          background-position: 0 -105px;
        }
      }

      &.ssba_pinterest_share {
        background-position: 0 -140px;
        &:hover {
          background-position: 0 -175px;
        }
      }

      &.ssba_linkedin_share.ssba_share_link {
        background-position: 0 -210px;
        &:hover {
          background-position: 0 -245px;
        }
      }

      &.ssba_google_share {
        background-position: 0 -280px;
        &:hover {
          background-position: 0 -315px;
        }
      }

      &.ssba_email_share {
        background-position: 0 -350px;
        &:hover {
          background-position: 0 -385px;
        }
      }

    }
  }
}