.middle-row {
  max-width: 45.6rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0; }

.small-row {
  max-width: 34.4rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0; }

.relative {
  position: relative; }

.green {
  color: #62ba77; }

.absolute {
  position: absolute; }

.default-red {
  color: #d64949; }

.red-line {
  background: #d64949; }

.Px10 {
  height: 10px; }

.default-red-bg {
  background: #d64949; }

.post-social-button .ssba {
  width: 30px;
  background: #ebebeb !important; }
  .post-social-button .ssba .ssba_sharecount {
    display: none; }
  .post-social-button .ssba a {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    display: block;
    margin: 0 0 10px 0;
    background-image: url("../img/soc_icons_sprite.png"); }
    .post-social-button .ssba a:first-child {
      margin-top: 0; }
    .post-social-button .ssba a:last-child {
      margin-bottom: 0; }
    .post-social-button .ssba a img {
      display: none !important; }
    .post-social-button .ssba a.ssba_facebook_share {
      background-position: 0 0; }
      .post-social-button .ssba a.ssba_facebook_share:hover {
        background-position: 0 -35px; }
    .post-social-button .ssba a.ssba_twitter_share {
      background-position: 0 -70px; }
      .post-social-button .ssba a.ssba_twitter_share:hover {
        background-position: 0 -105px; }
    .post-social-button .ssba a.ssba_pinterest_share {
      background-position: 0 -140px; }
      .post-social-button .ssba a.ssba_pinterest_share:hover {
        background-position: 0 -175px; }
    .post-social-button .ssba a.ssba_linkedin_share.ssba_share_link {
      background-position: 0 -210px; }
      .post-social-button .ssba a.ssba_linkedin_share.ssba_share_link:hover {
        background-position: 0 -245px; }
    .post-social-button .ssba a.ssba_google_share {
      background-position: 0 -280px; }
      .post-social-button .ssba a.ssba_google_share:hover {
        background-position: 0 -315px; }
    .post-social-button .ssba a.ssba_email_share {
      background-position: 0 -350px; }
      .post-social-button .ssba a.ssba_email_share:hover {
        background-position: 0 -385px; }

body.page-template-star_networking_homepage-php {
  background: white; }

.header-wrapper-star-network-header .header-wrapper-bg-color header .logo-with-menu-wrapper .logo {
  margin-bottom: 10px; }
.header-wrapper-star-network-header .header-main-menu-wrapper .header-main-menu > .menu {
  height: 30px; }
.header-wrapper-star-network-header .header-main-menu-wrapper #menu-star-network-menu > li > .dropdown {
  margin-left: 6px; }
  .header-wrapper-star-network-header .header-main-menu-wrapper #menu-star-network-menu > li > .dropdown .dropdown {
    margin-left: 0;
    margin-top: -1px; }

.event-btns-set {
  left: 27%;
  position: relative;
  list-style-type: none; }
  .event-btns-set li {
    float: left; }

.event-btns-set-2 {
  left: 13%; }

.purch-ticket {
  width: 282px !important; }

.star-network-attend-pages h1 {
  color: #d64949;
  font-family: "DINNextLTPro-Regular", serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal; }
.star-network-attend-pages .main-content .categories {
  box-sizing: border-box;
  margin-top: 25px;
  height: 55px; }
  .star-network-attend-pages .main-content .categories .waitMe_container {
    height: inherit; }
  .star-network-attend-pages .main-content .categories.mobile ul li {
    margin: 0;
    border: 1px solid #d64949;
    width: 100%; }
  .star-network-attend-pages .main-content .categories.float-none {
    float: none; }
  .star-network-attend-pages .main-content .categories ul {
    display: table;
    padding: 0;
    margin: 0;
    height: 55px; }
    .star-network-attend-pages .main-content .categories ul li {
      height: 55px;
      display: table-cell;
      margin-left: -5px;
      border: 1px solid #d64949;
      border-right: 0;
      text-align: center;
      position: relative;
      vertical-align: middle; }
      .star-network-attend-pages .main-content .categories ul li:last-child {
        border-right: 1px solid #d64949; }
      .star-network-attend-pages .main-content .categories ul li:first-child {
        margin-left: 0; }
      .star-network-attend-pages .main-content .categories ul li a {
        text-transform: uppercase;
        padding: 10px 10px 7px 10px;
        display: block;
        line-height: 18px;
        font-family: "DINNextLTPro-Light", serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        color: #464646; }
      .star-network-attend-pages .main-content .categories ul li:hover, .star-network-attend-pages .main-content .categories ul li.current-category {
        background: #d64949; }
        .star-network-attend-pages .main-content .categories ul li:hover a, .star-network-attend-pages .main-content .categories ul li.current-category a {
          color: white; }
        .star-network-attend-pages .main-content .categories ul li:hover:after, .star-network-attend-pages .main-content .categories ul li.current-category:after {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(214, 73, 73, 0);
          border-top-color: #d64949;
          border-width: 7px;
          margin-left: -8px; }
    .star-network-attend-pages .main-content .categories ul li.current-category {
      background: #d64949; }
      .star-network-attend-pages .main-content .categories ul li.current-category a {
        color: white; }
.star-network-attend-pages .filter .filter-wrapper .filter-text {
  color: #c2c2c2;
  font-family: "DINNextLTPro-Regular", serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase; }
.star-network-attend-pages .filter .filter-wrapper .buttons {
  text-transform: uppercase;
  color: #464646; }
  .star-network-attend-pages .filter .filter-wrapper .buttons label {
    font-family: "DINNextLTPro-Regular", serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px; }
    .star-network-attend-pages .filter .filter-wrapper .buttons label.disabled {
      color: gray;
      cursor: default; }
    .star-network-attend-pages .filter .filter-wrapper .buttons label input {
      display: none; }
      .star-network-attend-pages .filter .filter-wrapper .buttons label input:checked + span {
        background: white; }
        .star-network-attend-pages .filter .filter-wrapper .buttons label input:checked + span:before {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          -webkit-border-radius: 1000px;
          border-radius: 1000px;
          background: #d64949;
          position: relative; }
    .star-network-attend-pages .filter .filter-wrapper .buttons label .custom {
      display: inline-block;
      width: 16px;
      height: 16px;
      position: relative;
      top: -1px;
      vertical-align: middle;
      border: solid 1px #000000;
      background: transparent; }
      .star-network-attend-pages .filter .filter-wrapper .buttons label .custom .hidden-field {
        margin-left: -99999px;
        position: absolute;
        visibility: hidden;
        display: none; }
      .star-network-attend-pages .filter .filter-wrapper .buttons label .custom.radio {
        -webkit-border-radius: 1000px;
        border-radius: 1000px;
        padding: 3px;
        margin-top: -3px; }

.star-network-home-pages .page-header {
  max-height: 460px;
  position: relative;
  margin-bottom: 40px; }
  .star-network-home-pages .page-header .page-header-text-wrapper {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%; }
    .star-network-home-pages .page-header .page-header-text-wrapper .page-header-text {
      padding: 0 20px;
      background: rgba(255, 255, 255, 0.9);
      border: 1px solid #c2c2c2;
      max-width: 740px;
      display: inline-block; }
      .star-network-home-pages .page-header .page-header-text-wrapper .page-header-text .title a {
        text-align: left;
        color: #d64949;
        font-family: "DINNextLTPro-Regular", serif;
        font-size: 50px;
        font-weight: normal;
        font-style: normal;
        line-height: 45px;
        margin-top: 10px;
        display: block; }
      .star-network-home-pages .page-header .page-header-text-wrapper .page-header-text .text {
        text-align: left;
        font-family: "DINNextLTPro-Regular", serif;
        font-size: 17px;
        font-weight: normal;
        font-style: normal; }
        .star-network-home-pages .page-header .page-header-text-wrapper .page-header-text .text a {
          color: #d64949; }
.star-network-home-pages .page-header-site-statistic {
  margin-top: 40px;
  background: #d64949; }
  .star-network-home-pages .page-header-site-statistic ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: table; }
    .star-network-home-pages .page-header-site-statistic ul li {
      width: 33%;
      display: table-cell;
      font-family: "DINNextLTPro-Medium", serif;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      color: #000000;
      text-align: center;
      text-transform: uppercase; }
      .star-network-home-pages .page-header-site-statistic ul li .number {
        font-family: "DINNextLTPro-Medium", serif;
        font-size: 50px;
        font-weight: normal;
        font-style: normal;
        vertical-align: middle; }

.star-network-home-pages .bx-wrapper .bx-next {
  right: -30px; }

#waitMeSpot.waitMe_container {
  margin-top: 6px;
  height: 640px; }

.star-network-homepage-content-wrapper {
  background: #f2f2f2;
  /*  height: 680px;
    overflow: hidden;*/ }
  .star-network-homepage-content-wrapper .waitMe_container {
    height: inherit; }
  .star-network-homepage-content-wrapper #content {
    position: relative;
    margin: 40px auto;
    padding: 20px 0;
    /*height: inherit;*/ }

.single-event-wrapper {
  position: relative;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px; }
  .single-event-wrapper:hover {
    cursor: pointer; }
    .single-event-wrapper:hover .bg-color {
      background-color: rgba(0, 0, 0, 0.5); }
  .single-event-wrapper .event-start-date {
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 0;
    background: #464646;
    color: white;
    z-index: 3;
    left: 0.9375rem; }
    .single-event-wrapper .event-start-date .date {
      line-height: 20px;
      padding: 10px 15px; }
      .single-event-wrapper .event-start-date .date .month {
        font-family: "DINNextLTPro-Regular", serif;
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        text-transform: uppercase;
        margin-bottom: 5px; }
      .single-event-wrapper .event-start-date .date .day {
        font-family: "DINNextLTPro-Regular", serif;
        font-size: 28px;
        font-weight: normal;
        font-style: normal; }
    .single-event-wrapper .event-start-date .rsvp {
      text-align: center;
      padding: 5px 0 3px 0;
      background: #d64949;
      font-family: "DINNextLTPro-Regular", serif;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      text-transform: uppercase; }
  .single-event-wrapper .bg-image {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    left: 0.9375rem;
    right: 0.9375rem; }
    .single-event-wrapper .bg-image .no-image {
      height: inherit;
      font-size: 40px;
      box-sizing: border-box;
      line-height: 300px;
      color: #222;
      text-shadow: 0px 2px 3px #666;
      text-align: center;
      background: #525252; }
  .single-event-wrapper .bg-color {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0.9375rem;
    right: 0.9375rem;
    bottom: 0;
    box-sizing: border-box; }
  .single-event-wrapper .title {
    color: white;
    left: 2.5rem;
    right: 0.9375rem;
    z-index: 4;
    position: absolute;
    top: 100px;
    font-family: "DINNextLTPro-Light", serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal; }
    .single-event-wrapper .title a {
      color: white; }
  .single-event-wrapper .footer {
    border-top: 2px solid #d64949;
    position: absolute;
    bottom: 0;
    left: 0.9375rem;
    right: 0.9375rem;
    z-index: 5;
    background: #c2c2c2;
    font-family: "DINNextLTPro-Medium", serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #464646; }
    .single-event-wrapper .footer.qns {
      padding: 15px; }
    .single-event-wrapper .footer.brooklyn {
      padding: 9px 15px 10px 15px; }
    .single-event-wrapper .footer .footer-text {
      margin-left: 15px; }
      .single-event-wrapper .footer .footer-text a {
        color: #464646;
        font-family: "DINNextLTPro-Medium", serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal; }
        .single-event-wrapper .footer .footer-text a:hover {
          color: #d64949; }

.star-network-homepage-content .single-event-wrapper {
  /*    &:nth-child(3n) {
        float: right;
      }*/ }
  .star-network-homepage-content .single-event-wrapper:last-child {
    float: left; }

.main-content-data .spots-wrapper {
  margin-top: 60px; }
  .main-content-data .spots-wrapper .star-network-homepage-content {
    /*height: 640px;*/
    display: inline-block;
    width: 100%; }
  .main-content-data .spots-wrapper .single-event-wrapper {
    /*      &:nth-child(3n) {
            float: right;
          }*/ }
    .main-content-data .spots-wrapper .single-event-wrapper:last-child {
      float: left; }

.footer-wrapper-star-network {
  margin-top: 40px; }
  .footer-wrapper-star-network #footer .footer-menu {
    background: none; }
    .footer-wrapper-star-network #footer .footer-menu ul li {
      font-family: "DINNextLTPro-Light", serif;
      font-size: 18px;
      font-weight: normal;
      font-style: normal; }
  .footer-wrapper-star-network #footer .copyright {
    font-family: "DINNextLTPro-Light", serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal; }
  .footer-wrapper-star-network #footer .footer-social-icon ul {
    margin: 5px; }
    .footer-wrapper-star-network #footer .footer-social-icon ul li {
      margin-left: 5px; }
      .footer-wrapper-star-network #footer .footer-social-icon ul li a {
        font-size: 0;
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        background: url("../img/header-soc-icon-menu.png"); }
      .footer-wrapper-star-network #footer .footer-social-icon ul li.search a {
        background-position: 0 0; }
        .footer-wrapper-star-network #footer .footer-social-icon ul li.search a:hover {
          background-position: 0 -30px; }
      .footer-wrapper-star-network #footer .footer-social-icon ul li.email a {
        background-position: -25px 0; }
        .footer-wrapper-star-network #footer .footer-social-icon ul li.email a:hover {
          background-position: -25px -30px; }
      .footer-wrapper-star-network #footer .footer-social-icon ul li.facebook a {
        background-position: -50px 0; }
        .footer-wrapper-star-network #footer .footer-social-icon ul li.facebook a:hover {
          background-position: -50px -30px; }
      .footer-wrapper-star-network #footer .footer-social-icon ul li.twitter a {
        background-position: -75px 0; }
        .footer-wrapper-star-network #footer .footer-social-icon ul li.twitter a:hover {
          background-position: -75px -30px; }
      .footer-wrapper-star-network #footer .footer-social-icon ul li.instagram a {
        background-position: -100px 0; }
        .footer-wrapper-star-network #footer .footer-social-icon ul li.instagram a:hover {
          background-position: -100px -30px; }
      .footer-wrapper-star-network #footer .footer-social-icon ul li.linkedin a {
        background-position: -125px 0; }
        .footer-wrapper-star-network #footer .footer-social-icon ul li.linkedin a:hover {
          background-position: -125px -30px; }
  .footer-wrapper-star-network #footer .footer-social-icon #menu-main-social-1 {
    margin-left: 0;
    display: inline-block; }
    .footer-wrapper-star-network #footer .footer-social-icon #menu-main-social-1 li {
      margin-left: 0;
      margin-right: 5px; }
  .footer-wrapper-star-network .menu-star-network-menu-main-footer-left-container li a {
    float: left; }
  .footer-wrapper-star-network .menu-star-network-menu-main-footer-left-container li:after {
    content: "/";
    float: left;
    margin-top: 0;
    padding: 0 10px;
    line-height: 25px;
    color: white; }
  .footer-wrapper-star-network .menu-star-network-menu-main-footer-left-container li:last-of-type:after {
    content: ""; }

.arrow {
  position: absolute;
  top: 45%; }
  .arrow a {
    width: 17px;
    height: 42px;
    display: block;
    background: url("../img/arrow-sprite.png") no-repeat center; }
  .arrow.left {
    left: -20px; }
    .arrow.left a {
      background-position: 0 0; }
      .arrow.left a:hover {
        background-position: 0 -43px; }
  .arrow.right {
    right: -20px; }
    .arrow.right a {
      background-position: -18px 0; }
      .arrow.right a:hover {
        background-position: -18px -43px; }

/* Star Network Additional Page. Start */
.star-network-content-wrapper-bg {
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #c2c2c2;
  padding: 0 10px 90px; }

.events-case .star-network-content-wrapper-bg {
  border: none; }

.star-main-content-wrapper #content {
  margin-top: 0;
  padding-top: 40px; }
  .star-main-content-wrapper #content .star-network-content .star-network-additional-page-title {
    font-family: "DINNextLTPro-Regular", serif;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    color: #d64949;
    text-align: center;
    line-height: 45px;
    margin-top: 50px; }
  .star-main-content-wrapper #content .star-network-content .star-network-additional-page-sublime {
    font-family: "DINNextLTPro-Regular", serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    color: #464646;
    text-align: center; }
.star-main-content-wrapper.single-event-page #content {
  padding-top: 195px; }
  .star-main-content-wrapper.single-event-page #content .star-network-content {
    padding: 0;
    border: none; }
    .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-page-title {
      padding: 65px 130px 10px;
      background: black;
      margin-top: 0;
      color: white;
      font-family: "DINNextLTPro-Light", serif;
      font-size: 50px;
      font-weight: normal;
      font-style: normal;
      position: relative; }
      .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-page-title .event-type {
        position: absolute;
        width: 168px;
        height: 168px;
        top: -60%;
        left: 0;
        right: 0;
        margin: auto; }
        .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-page-title .event-type.kings {
          background: url("../img/event-type/kings.jpg") no-repeat; }
      .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-page-title .event-additional-info {
        margin: 0;
        padding: 0;
        list-style: none; }
        .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-page-title .event-additional-info li {
          display: inline-block;
          color: #d64949;
          font-family: "DINNextLTPro-Light", serif;
          font-size: 26px;
          font-weight: normal;
          font-style: normal;
          margin-right: 20px; }
        .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-page-title .event-additional-info a {
          color: #d64949; }
    .star-main-content-wrapper.single-event-page #content .star-network-content .event-method {
      padding: 20px;
      text-align: center;
      background: #464646 url("../img/header-bg-dark.png"); }
      .star-main-content-wrapper.single-event-page #content .star-network-content .event-method button, .star-main-content-wrapper.single-event-page #content .star-network-content .event-method a {
        border-radius: 10px;
        margin: 0 20px 0 0;
        font-family: "DINNextLTPro-Light", serif;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        width: 210px;
        text-align: center;
        padding: 12px 0 10px; }
        .star-main-content-wrapper.single-event-page #content .star-network-content .event-method button.red, .star-main-content-wrapper.single-event-page #content .star-network-content .event-method a.red {
          background: #d64949; }
        .star-main-content-wrapper.single-event-page #content .star-network-content .event-method button.yellow, .star-main-content-wrapper.single-event-page #content .star-network-content .event-method a.yellow {
          background: #deb437; }
    .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-page-content-wrapper {
      background: rgba(255, 255, 255, 0.95);
      border: 1px solid #c2c2c2;
      padding: 50px 0;
      border-top: none; }
    .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-page-content .excerpt p {
      font-family: "DINNextLTPro-Light", serif;
      font-size: 30px;
      font-weight: normal;
      font-style: normal;
      color: #464646;
      line-height: 30px; }
    .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-page-content .content p {
      font-family: "DINNextLTPro-Light", serif;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      color: #464646;
      line-height: 22px; }
      .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-page-content .content p a {
        color: #d64949; }
    .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-honoree {
      background: #f2f2f2; }
      .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-honoree .people-honoree-wrapper .people-honoree-title {
        font-family: "DINNextLTPro-Light", serif;
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        color: #d64949;
        text-align: center; }
        .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-honoree .people-honoree-wrapper .people-honoree-title:before, .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-honoree .people-honoree-wrapper .people-honoree-title:after {
          content: "\2022"; }
      .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-honoree .people-honoree-wrapper .people-honoree-data {
        padding: 0 190px;
        display: inline-block; }
        .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-honoree .people-honoree-wrapper .people-honoree-data ul {
          text-align: center;
          list-style: none;
          padding: 0;
          margin: 0; }
          .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-honoree .people-honoree-wrapper .people-honoree-data ul li {
            width: 170px;
            display: inline-block;
            margin: 0 15px 30px 0;
            text-align: center;
            vertical-align: top; }
            .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-honoree .people-honoree-wrapper .people-honoree-data ul li:nth-of-type(4n) {
              margin-right: 0; }
            .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-honoree .people-honoree-wrapper .people-honoree-data ul li .image img {
              margin-bottom: -20px; }
            .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-honoree .people-honoree-wrapper .people-honoree-data ul li .image .headshot {
              font-size: 15px;
              text-transform: uppercase;
              display: inline;
              padding: 5px;
              background: black;
              color: white; }
            .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-honoree .people-honoree-wrapper .people-honoree-data ul li .name {
              font-family: "DINNextLTPro-Light", serif;
              font-size: 18px;
              font-weight: normal;
              font-style: normal;
              color: #d64949;
              line-height: 18px;
              text-transform: capitalize;
              margin-top: 10px;
              word-wrap: break-word; }
              .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-honoree .people-honoree-wrapper .people-honoree-data ul li .name a {
                font-family: "DINNextLTPro-Light", serif;
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                color: #d64949;
                line-height: 18px;
                text-transform: capitalize;
                margin-top: 10px;
                word-wrap: break-word; }
            .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-honoree .people-honoree-wrapper .people-honoree-data ul li .title, .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-honoree .people-honoree-wrapper .people-honoree-data ul li .company {
              color: #464646;
              font-family: "DINNextLTPro-Light", serif;
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              text-transform: capitalize; }
              .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-honoree .people-honoree-wrapper .people-honoree-data ul li .title a, .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-honoree .people-honoree-wrapper .people-honoree-data ul li .company a {
                color: #464646;
                font-family: "DINNextLTPro-Light", serif;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                text-transform: capitalize; }
    .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info {
      border-top: none;
      padding: 50px 0; }
      .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-sponsor-wrapper .event-sponsor-title {
        font-family: "DINNextLTPro-Light", serif;
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        color: #d64949;
        text-align: center; }
      .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-sponsor-wrapper .event-sponsor-data ul {
        list-style: none;
        width: 100%;
        margin: 0;
        text-align: center;
        padding: 0; }
        .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-sponsor-wrapper .event-sponsor-data ul li {
          margin: 0 14px 30px 0;
          text-align: center;
          display: inline-block;
          width: 170px; }
        .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-sponsor-wrapper .event-sponsor-data ul.regular-wrapper li, .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-sponsor-wrapper .event-sponsor-data ul.gold-wrapper li {
          width: 170px;
          display: inline-block; }
      .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-method-after-content {
        text-align: center;
        border-top: 1px solid #c2c2c2;
        border-bottom: 1px solid #c2c2c2;
        padding: 20px; }
        .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-method-after-content button, .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-method-after-content a {
          border-radius: 10px;
          margin: 0 20px 0 0;
          font-family: "DINNextLTPro-Light", serif;
          font-size: 24px;
          font-weight: normal;
          font-style: normal;
          width: 210px;
          text-align: center;
          padding: 12px 0 10px; }
          .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-method-after-content button.red, .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-method-after-content a.red {
            background: #d64949; }
          .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-method-after-content button.yellow, .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-method-after-content a.yellow {
            background: #deb437; }
      .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-map-wrapper {
        display: inline-block;
        margin: 60px 0;
        width: 100%; }
        .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-map-wrapper .event-map-title {
          font-family: "DINNextLTPro-UltraLight", serif;
          font-size: 24px;
          font-weight: normal;
          font-style: normal;
          color: white;
          background: #d64949;
          text-align: center;
          padding: 10px 0 8px; }
        .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-map-wrapper #map_canvas {
          float: left; }
        .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-map-wrapper .event-map-info {
          margin-left: 150px;
          padding: 15px 25px;
          background: #f2f2f2;
          min-height: 150px;
          max-height: 150px; }
          .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-map-wrapper .event-map-info .location-name {
            font-family: "DINNextLTPro-UltraLight", serif;
            font-size: 28px;
            font-weight: normal;
            font-style: normal;
            margin-bottom: 10px;
            line-height: 26px; }
          .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-map-wrapper .event-map-info .location-address {
            font-family: "DINNextLTPro-UltraLight", serif;
            font-size: 21px;
            font-weight: normal;
            font-style: normal;
            width: 165px;
            line-height: 22px;
            margin-bottom: 10px; }
          .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-map-wrapper .event-map-info .location-q,
          .star-main-content-wrapper.single-event-page #content .star-network-content .star-network-additional-event-info .event-map-wrapper .event-map-info .location-n {
            padding: 5px 7px 4px 8px;
            display: inline-block;
            background: #ffcd08;
            text-transform: uppercase;
            border-radius: 50%;
            color: white;
            font-size: 15px;
            line-height: 17px; }

/* Star Network Additional Page. End */
.form-wrapper #cc_form_1 {
  margin: 0 auto;
  width: 70%; }
.form-wrapper #newsletter-form label.error, .form-wrapper #speak-form label.error, .form-wrapper #nominate-form label.error, .form-wrapper #sponsor-form label.error, .form-wrapper #cc_form_1 label.error {
  display: none !important; }
.form-wrapper #newsletter-form input[type="text"],
.form-wrapper #newsletter-form input[type="email"], .form-wrapper #speak-form input[type="text"],
.form-wrapper #speak-form input[type="email"], .form-wrapper #nominate-form input[type="text"],
.form-wrapper #nominate-form input[type="email"], .form-wrapper #sponsor-form input[type="text"],
.form-wrapper #sponsor-form input[type="email"], .form-wrapper #cc_form_1 input[type="text"],
.form-wrapper #cc_form_1 input[type="email"] {
  background: #f2f2f2;
  border: 1px solid #e1e1e1;
  font-family: "DINNextLTPro-Light", serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  height: 60px;
  color: #707070;
  border-radius: 10px;
  margin: 0 0 1rem 0; }
  .form-wrapper #newsletter-form input[type="text"].error,
  .form-wrapper #newsletter-form input[type="email"].error, .form-wrapper #speak-form input[type="text"].error,
  .form-wrapper #speak-form input[type="email"].error, .form-wrapper #nominate-form input[type="text"].error,
  .form-wrapper #nominate-form input[type="email"].error, .form-wrapper #sponsor-form input[type="text"].error,
  .form-wrapper #sponsor-form input[type="email"].error, .form-wrapper #cc_form_1 input[type="text"].error,
  .form-wrapper #cc_form_1 input[type="email"].error {
    border: 1px solid red; }
.form-wrapper #newsletter-form .fieldset, .form-wrapper #speak-form .fieldset, .form-wrapper #nominate-form .fieldset, .form-wrapper #sponsor-form .fieldset, .form-wrapper #cc_form_1 .fieldset {
  color: #707070;
  font-family: "DINNextLTPro-Light", serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal; }
.form-wrapper #newsletter-form .select-list label, .form-wrapper #speak-form .select-list label, .form-wrapper #nominate-form .select-list label, .form-wrapper #sponsor-form .select-list label, .form-wrapper #cc_form_1 .select-list label {
  color: #707070;
  font-family: "DINNextLTPro-Light", serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal; }
.form-wrapper #newsletter-form .select-list select, .form-wrapper #speak-form .select-list select, .form-wrapper #nominate-form .select-list select, .form-wrapper #sponsor-form .select-list select, .form-wrapper #cc_form_1 .select-list select {
  color: #707070;
  border-radius: 10px;
  height: 60px;
  background-color: #f2f2f2;
  background-image: url("../img/select-bg.jpg");
  background-repeat: no-repeat;
  border: 1px solid #e1e1e1;
  background-position: right 20px center;
  font-family: "DINNextLTPro-Light", serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  padding-top: 15px; }
  .form-wrapper #newsletter-form .select-list select.error, .form-wrapper #speak-form .select-list select.error, .form-wrapper #nominate-form .select-list select.error, .form-wrapper #sponsor-form .select-list select.error, .form-wrapper #cc_form_1 .select-list select.error {
    border: 1px solid red; }
.form-wrapper #newsletter-form .checkboxes .checkboxes-title, .form-wrapper #newsletter-form .ctct-checkboxes .checkboxes-title, .form-wrapper #speak-form .checkboxes .checkboxes-title, .form-wrapper #speak-form .ctct-checkboxes .checkboxes-title, .form-wrapper #nominate-form .checkboxes .checkboxes-title, .form-wrapper #nominate-form .ctct-checkboxes .checkboxes-title, .form-wrapper #sponsor-form .checkboxes .checkboxes-title, .form-wrapper #sponsor-form .ctct-checkboxes .checkboxes-title, .form-wrapper #cc_form_1 .checkboxes .checkboxes-title, .form-wrapper #cc_form_1 .ctct-checkboxes .checkboxes-title {
  font-family: "DINNextLTPro-Regular", serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: #464646;
  margin-bottom: 20px;
  margin-top: 25px; }
.form-wrapper #newsletter-form .checkboxes > div, .form-wrapper #newsletter-form .ctct-checkboxes > div, .form-wrapper #speak-form .checkboxes > div, .form-wrapper #speak-form .ctct-checkboxes > div, .form-wrapper #nominate-form .checkboxes > div, .form-wrapper #nominate-form .ctct-checkboxes > div, .form-wrapper #sponsor-form .checkboxes > div, .form-wrapper #sponsor-form .ctct-checkboxes > div, .form-wrapper #cc_form_1 .checkboxes > div, .form-wrapper #cc_form_1 .ctct-checkboxes > div {
  margin-bottom: 10px; }
.form-wrapper #newsletter-form .checkboxes label, .form-wrapper #newsletter-form .ctct-checkboxes label, .form-wrapper #speak-form .checkboxes label, .form-wrapper #speak-form .ctct-checkboxes label, .form-wrapper #nominate-form .checkboxes label, .form-wrapper #nominate-form .ctct-checkboxes label, .form-wrapper #sponsor-form .checkboxes label, .form-wrapper #sponsor-form .ctct-checkboxes label, .form-wrapper #cc_form_1 .checkboxes label, .form-wrapper #cc_form_1 .ctct-checkboxes label {
  font-family: "DINNextLTPro-Light", serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  color: #707070;
  /*        input {
            display: none;
          }*/ }
  .form-wrapper #newsletter-form .checkboxes label .custom.checkbox, .form-wrapper #newsletter-form .ctct-checkboxes label .custom.checkbox, .form-wrapper #speak-form .checkboxes label .custom.checkbox, .form-wrapper #speak-form .ctct-checkboxes label .custom.checkbox, .form-wrapper #nominate-form .checkboxes label .custom.checkbox, .form-wrapper #nominate-form .ctct-checkboxes label .custom.checkbox, .form-wrapper #sponsor-form .checkboxes label .custom.checkbox, .form-wrapper #sponsor-form .ctct-checkboxes label .custom.checkbox, .form-wrapper #cc_form_1 .checkboxes label .custom.checkbox, .form-wrapper #cc_form_1 .ctct-checkboxes label .custom.checkbox {
    border: 1px solid #636363;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: white;
    margin-bottom: -2px;
    margin-right: 15px; }
  .form-wrapper #newsletter-form .checkboxes label input:checked + span:before, .form-wrapper #newsletter-form .ctct-checkboxes label input:checked + span:before, .form-wrapper #speak-form .checkboxes label input:checked + span:before, .form-wrapper #speak-form .ctct-checkboxes label input:checked + span:before, .form-wrapper #nominate-form .checkboxes label input:checked + span:before, .form-wrapper #nominate-form .ctct-checkboxes label input:checked + span:before, .form-wrapper #sponsor-form .checkboxes label input:checked + span:before, .form-wrapper #sponsor-form .ctct-checkboxes label input:checked + span:before, .form-wrapper #cc_form_1 .checkboxes label input:checked + span:before, .form-wrapper #cc_form_1 .ctct-checkboxes label input:checked + span:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: #d64949;
    position: relative; }
.form-wrapper #newsletter-form .submit, .form-wrapper #speak-form .submit, .form-wrapper #nominate-form .submit, .form-wrapper #sponsor-form .submit, .form-wrapper #cc_form_1 .submit {
  margin-top: 65px;
  text-align: center; }
  .form-wrapper #newsletter-form .submit input, .form-wrapper #speak-form .submit input, .form-wrapper #nominate-form .submit input, .form-wrapper #sponsor-form .submit input, .form-wrapper #cc_form_1 .submit input {
    border: none;
    font-family: "DINNextLTPro-Light", serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    text-transform: capitalize;
    color: white;
    background: #d64949;
    padding: 22px 100px 20px;
    border-radius: 10px;
    cursor: pointer; }
.form-wrapper #newsletter-form .textarea label, .form-wrapper #speak-form .textarea label, .form-wrapper #nominate-form .textarea label, .form-wrapper #sponsor-form .textarea label, .form-wrapper #cc_form_1 .textarea label {
  color: #707070;
  font-family: "DINNextLTPro-Light", serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal; }
.form-wrapper #newsletter-form .textarea textarea, .form-wrapper #speak-form .textarea textarea, .form-wrapper #nominate-form .textarea textarea, .form-wrapper #sponsor-form .textarea textarea, .form-wrapper #cc_form_1 .textarea textarea {
  background: #f2f2f2;
  border: 1px solid #e1e1e1;
  font-family: "DINNextLTPro-Light", serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  padding: 30px 20px 28px 20px;
  color: #707070;
  border-radius: 10px;
  height: 200px;
  resize: none; }
  .form-wrapper #newsletter-form .textarea textarea.error, .form-wrapper #speak-form .textarea textarea.error, .form-wrapper #nominate-form .textarea textarea.error, .form-wrapper #sponsor-form .textarea textarea.error, .form-wrapper #cc_form_1 .textarea textarea.error {
    border: 1px solid red; }

.ajax-success {
  color: #676767;
  font-family: "DINNextLTPro-Light", serif;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  text-align: center; }

.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  background: none; }
.bx-wrapper .bx-prev, .bx-wrapper .bx-next {
  background: url("../img/arrow-sprite.png") no-repeat center;
  width: 17px !important;
  height: 42px !important; }
.bx-wrapper .bx-prev {
  left: -40px;
  background-position: 0 0; }
  .bx-wrapper .bx-prev:hover {
    background-position: 0 -43px; }
.bx-wrapper .bx-next {
  right: -20px;
  background-position: -18px 0; }
  .bx-wrapper .bx-next:hover {
    background-position: -18px -43px; }

.extra-post-header {
  border: 1px solid #c2c2c2;
  border-bottom: none;
  padding: 25px 0;
  position: relative; }
  .extra-post-header h1 {
    color: #d64949;
    font-family: "DINNextLTPro-Regular", serif;
    font-size: 50px;
    font-weight: normal;
    font-style: normal; }
  .extra-post-header .post-info-additional {
    padding: 25px; }

.under-image-wrapper {
  border: 1px solid #c2c2c2;
  border-top: none;
  padding: 25px; }
  .under-image-wrapper .date-time-info {
    padding: 0;
    margin: 0;
    margin-bottom: 20px; }
    .under-image-wrapper .date-time-info li {
      margin: 0 5px;
      display: inline-block;
      font-family: "DINNextLTPro-UltraLight", serif;
      font-size: 18px;
      font-weight: normal;
      font-style: normal; }
      .under-image-wrapper .date-time-info li:first-child {
        margin-left: 0; }
  .under-image-wrapper .extra-post-content {
    font-family: "DINNextLTPro-UltraLight", serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: #464646; }
    .under-image-wrapper .extra-post-content a {
      font-family: "DINNextLTPro-Regular", serif;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      color: #d64949; }
  .under-image-wrapper .social-share-icons.single-customize {
    margin-top: 15px; }
    .under-image-wrapper .social-share-icons.single-customize .social-share-title {
      margin-bottom: 15px;
      font-family: "DINNextLTPro-Medium", serif;
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      color: #d64949; }

.post-social-button .post-social-button-wrapper {
  background: #ebebeb;
  padding: 10px 10px; }

.post-social-button {
  display: inline-block;
  float: left;
  position: relative;
  width: 50px;
  margin-left: -50px; }

.extra-post-gallery {
  position: relative; }
  .extra-post-gallery .bjqs-controls {
    position: absolute;
    width: 100%;
    top: 45%; }
    .extra-post-gallery .bjqs-controls li {
      background: url("../img/arrow-sprite.png") no-repeat center;
      width: 17px !important;
      height: 42px !important;
      position: absolute; }
      .extra-post-gallery .bjqs-controls li a {
        width: inherit;
        height: inherit;
        display: inline-block; }
      .extra-post-gallery .bjqs-controls li.bjqs-prev {
        left: -40px;
        background-position: 0 0; }
        .extra-post-gallery .bjqs-controls li.bjqs-prev:hover {
          background-position: 0 -43px; }
      .extra-post-gallery .bjqs-controls li.bjqs-next {
        background-position: -18px 0;
        right: -40px;
        position: absolute;
        top: 0; }
        .extra-post-gallery .bjqs-controls li.bjqs-next:hover {
          background-position: -18px -43px; }

.post-gallery {
  margin: 0 auto; }
  .post-gallery .bjqs-controls {
    margin-top: -97px;
    width: 100%;
    bottom: 97px;
    z-index: 1; }
    .post-gallery .bjqs-controls li {
      height: 97px;
      max-height: 97px;
      position: absolute; }
      .post-gallery .bjqs-controls li.bjqs-next {
        right: 0; }
        .post-gallery .bjqs-controls li.bjqs-next a {
          background-position: -74px 0; }
      .post-gallery .bjqs-controls li a {
        background-color: #464A4D;
        background-image: url("../img/gallery-arrows.png");
        background-repeat: no-repeat;
        font-size: 0;
        height: 97px;
        max-height: 97px;
        display: block;
        width: 63px;
        box-sizing: border-box;
        background-position: -3px 0; }
        .post-gallery .bjqs-controls li a:hover {
          background-color: #686d70; }
  .post-gallery li.bjqs-slide {
    background: #000000; }
    .post-gallery li.bjqs-slide .slider-image-info-wrapper {
      background: black;
      margin: 0 62px;
      padding: 10px;
      color: #E9E9E9;
      height: 97px;
      min-height: 97px;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
      .post-gallery li.bjqs-slide .slider-image-info-wrapper .s-byline {
        font: italic 11px/14px "Arial";
        color: #999;
        text-align: left;
        padding: 10px 0 30px;
        height: 0;
        filter: alpha(opacity=0);
        opacity: 0; }
      .post-gallery li.bjqs-slide .slider-image-info-wrapper.expandable:hover {
        cursor: pointer; }
      .post-gallery li.bjqs-slide .slider-image-info-wrapper.expandable:after {
        content: "Read More \00a0 \00a0 \00a0 \00a0 \00a0";
        font: 12px/10px "Arial";
        color: #b6b6b6;
        display: inline-block;
        width: 100%;
        height: 10px;
        text-align: right;
        background: url("../img/read-caption.png") right 4px no-repeat;
        cursor: pointer;
        position: absolute;
        bottom: 10px;
        right: 10px; }
      .post-gallery li.bjqs-slide .slider-image-info-wrapper.expandable .slider-image-info-description:after {
        content: ".";
        color: #000;
        position: absolute;
        bottom: 2px;
        right: -20px;
        padding: 0 20px;
        width: 100%;
        text-align: right;
        background: url("../img/dots-caption.png") right 0 no-repeat; }
      .post-gallery li.bjqs-slide .slider-image-info-wrapper.expandable.expanded {
        height: auto;
        background: url("../img/trans85.png") 0 0;
        background: rgba(0, 0, 0, 0.7); }
        .post-gallery li.bjqs-slide .slider-image-info-wrapper.expandable.expanded .slider-image-info-description {
          height: auto; }
        .post-gallery li.bjqs-slide .slider-image-info-wrapper.expandable.expanded .s-byline {
          opacity: 1; }
        .post-gallery li.bjqs-slide .slider-image-info-wrapper.expandable.expanded:after {
          content: "Read Less \00a0 \00a0 \00a0 \00a0 \00a0 ";
          background: url("../img/read-caption.png") right -11px no-repeat; }
        .post-gallery li.bjqs-slide .slider-image-info-wrapper.expandable.expanded .slider-image-info-description:after {
          opacity: 0; }
      .post-gallery li.bjqs-slide .slider-image-info-wrapper .slider-image-info-caption {
        font-family: "DINNextLTPro-Regular", serif;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        margin-bottom: 5px;
        margin-right: 55px;
        min-height: 22px; }
      .post-gallery li.bjqs-slide .slider-image-info-wrapper .slider-image-info-description {
        font-family: "DINNextLTPro-Regular", serif;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        position: relative;
        text-align: justify;
        line-height: 17px;
        height: 35px;
        overflow: hidden; }

.realperson-text {
  font-family: "Courier New", monospace;
  font-size: 6px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 3px;
  display: inline-block;
  float: left;
  margin-right: 10px; }

.realperson-challenge {
  float: left;
  margin-top: 25px;
  margin-right: 10px; }

#defaultReal {
  max-width: 363px; }

.realperson-regen {
  font-size: 0;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAP1JREFUSIntlL9KxEAQh79Zo3BwYKGVkJB4hXYKQSvhCrH1AQ4Ln8BWH0J8JrGySW0jB3cn6BsE1L2x0uLYMRvSKOQr58/vNwy7Az09DWw0Fax1NLgC3oHXjjq/cg2UVlKM+CWwHesgIhNVPQdeVnOJ0bCvqjeR+keqSkjcNGjBMXAC3FoFLhRU1bdIg03grv1cfxAZMw6uO7iib3az7JSIv1KWZbJIF4etDIq0OJvO5/eAbzKo61qc8+EXGRTPiguHfxKRpdGkn879nAkRWXfe++fZ7HG1NuyayEOyHAyGW8OpNXVVVR9WLoo8z/dGO6O0k0iEyQH2Oen5J3wBuEg17WbXsWcAAAAASUVORK5CYII=") no-repeat;
  width: 24px;
  height: 24px;
  float: left;
  margin-top: -10px;
  cursor: pointer;
  opacity: .5; }
  .realperson-regen:hover {
    opacity: 1; }

.post-footer-block {
  padding: 25px; }
  .post-footer-block .related-post-title {
    font-family: "DINNextLTPro-Medium", serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    margin-bottom: 35px; }
  .post-footer-block .related-post-wrapper {
    margin-bottom: 30px;
    height: 75px;
    overflow: hidden; }
    .post-footer-block .related-post-wrapper .related-post-thumbnail {
      height: inherit;
      overflow: hidden;
      float: left; }
      .post-footer-block .related-post-wrapper .related-post-thumbnail img {
        width: 150px; }
    .post-footer-block .related-post-wrapper .related-post-headline {
      margin-left: 150px;
      padding-left: 20px;
      word-break: break-all; }
      .post-footer-block .related-post-wrapper .related-post-headline a {
        font-family: "DINNextLTPro-Medium", serif;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        color: #464646; }

.parent-pageid-9 .star-main-content-wrapper #content {
  width: 100%; }
  .parent-pageid-9 .star-main-content-wrapper #content .star-network-content {
    padding: 0;
    background: none;
    border: none; }

@media only screen and (max-width: 40em) {
  .top-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0; }
    .top-bar .toggle-topbar {
      background-color: #FF060C;
      -webkit-border-radius: 17px 0px 0px 17px;
      -moz-border-radius: 17px 0px 0px 17px;
      border-radius: 17px 0px 0px 17px;
      width: 120px;
      padding-top: 5px; }
      .top-bar .toggle-topbar .menu-icon-schneps {
        display: block;
        border: 1px solid #EBBABD;
        background-color: #EBBABD;
        width: 35px;
        height: 35px;
        border-radius: 20px;
        position: absolute;
        right: 20px; }
        .top-bar .toggle-topbar .menu-icon-schneps b {
          font-size: 25px;
          color: #FF060C;
          position: absolute;
          line-height: inherit;
          left: 5px;
          top: -5px; }
    .top-bar .name {
      background-color: #231F20; }

  .star-network-additional-page-title {
    padding: 20px !important; }

  .star-network-additional-page-content {
    padding: 20px; }

  .event-btns-set {
    left: 0px; }
    .event-btns-set li {
      text-align: center !important;
      position: relative;
      margin-bottom: 10px;
      padding: 0;
      width: 97%;
      height: 50px;
      float: none; }
      .event-btns-set li .purch-ticket {
        font-size: 18px !important;
        width: 90% !important; }
      .event-btns-set li .sponsor-exhibit .yellow {
        font-size: 18px !important;
        width: 90% !important; }

  .page-header-site-statistic li {
    font-family: "DINNextLTPro-Medium", serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal; }
  .page-header-site-statistic .number {
    display: block;
    font-family: "DINNextLTPro-Medium", serif;
    font-size: 40px;
    font-weight: normal;
    font-style: normal; } }

/*# sourceMappingURL=star-network.css.map */
