@import "mixin";

body.page-template-star_networking_homepage-php {
  background: white;
}

.header-wrapper-star-network-header {
  .header-wrapper-bg-color {
    header {
      .logo-with-menu-wrapper {
        .logo {
          margin-bottom: 20px;
        }
      }
    }
  }
  .header-main-menu-wrapper {
    .header-main-menu {
      > .menu {
        height: 30px;
      }
    }
    #menu-star-network-menu {
      > li {
        > .dropdown {
          margin-left: 6px;
          .dropdown {
            margin-left: 0;
            margin-top: -1px;
          }
        }
      }
    }
  }
}

.star-network-attend-pages {
  h1 {
    color: $default-red;
    @include fontCall("DINNextLTPro-Regular", 50);
  }
  .main-content {
    .categories {
      box-sizing: border-box;
      margin-top: 25px;
      height: 55px;
      .waitMe_container {
        height: inherit;
      }
      &.mobile {
        ul {
          li {
            margin: 0;
            border: 1px solid #d64949;
            width: 100%;
          }
        }
      }
      &.float-none {
        float: none;
      }
      ul {
        display: table;
        padding: 0;
        margin: 0;
        height: 55px;
        li {
          height: 55px;
          display: table-cell;
          margin-left: -5px;
          border: 1px solid $default-red;
          border-right: 0;
          text-align: center;
          position: relative;
          vertical-align: middle;
          &:last-child {
            border-right: 1px solid $default-red;
          }
          &:first-child {
            margin-left: 0;
          }
          a {
            text-transform: uppercase;
            padding: 10px 10px 7px 10px;
            display: block;
            line-height: 18px;
            @include fontCall("DINNextLTPro-Light", 16);
            color: $default-gray;
          }
          &:hover, &.current-category {
            background: $default-red;
            a {
              color: white;
            }
            &:after {
              top: 100%;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(214, 73, 73, 0);
              border-top-color: $default-red;
              border-width: 7px;
              margin-left: -8px;
            }
          }
        }
        li.current-category {
          background: $default-red;
          a {
            color: white;
          }
        }
      }
    }
  }
  .filter {
    .filter-wrapper {
      .filter-text {
        color: $default-light-gray;
        @include fontCall("DINNextLTPro-Regular", 16);
        text-transform: uppercase;
      }
      .buttons {
        text-transform: uppercase;
        color: $default-gray;
        label {
          @include fontCall("DINNextLTPro-Regular", 22);
          line-height: 20px;
          &.disabled {
            color: gray;
            cursor: default;
          }

          input {
            display: none;
            &:checked {
              & + span {
                background: white;
                &:before {
                  content: "";
                  display: block;
                  width: 8px;
                  height: 8px;
                  -webkit-border-radius: 1000px;
                  border-radius: 1000px;
                  background: $default-red;
                  position: relative;
                }
              }
            }
          }

          .custom {
            display: inline-block;
            width: 16px;
            height: 16px;
            position: relative;
            top: -1px;
            vertical-align: middle;
            border: solid 1px #000000;
            background: transparent;
            .hidden-field {
              margin-left: -99999px;
              position: absolute;
              visibility: hidden;
              display: none;

            }
            &.radio {
              -webkit-border-radius: 1000px;
              border-radius: 1000px;
              padding: 3px;
              margin-top: -3px;
            }
          }
        }
      }
    }
  }
}

.star-network-home-pages {
  .page-header {
    height: 460px;
    position: relative;
    margin-bottom: 40px;
    .page-header-text-wrapper {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      .page-header-text {
        padding: 0 20px;
        background: rgba(255, 255, 255, .9);
        border: 1px solid $default-light-gray;
        width: 740px;
        display: inline-block;
        .title {
          a {
            text-align: left;
            color: $default-red;
            @include fontCall("DINNextLTPro-Regular", 50);
            line-height: 45px;
            margin-top: 10px;
            display: block;
          }
        }
        .text {
          text-align: left;
          @include fontCall("DINNextLTPro-Regular", 17);
          a {
            color: $default-red;
          }
        }
      }
    }
  }

  .page-header-site-statistic {
    margin-top: 40px;
    background: $default-red;
    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      list-style: none;
      display: table;
      li {
        width: 33%;
        display: table-cell;
        @include fontCall("DINNextLTPro-Medium", 25);
        color: #000000;
        text-align: center;
        text-transform: uppercase;

        .number {
          @include fontCall("DINNextLTPro-Medium", 60);
          vertical-align: middle;
        }
      }
    }

  }
}

#waitMeSpot.waitMe_container {
  margin-top: 6px;
  height: 640px;
}

.star-network-homepage-content-wrapper {
  background: #f2f2f2;
  height: 680px;
  overflow: hidden;
  .waitMe_container {
    height: inherit;
  }
  #content {
    position: relative;
    margin: 40px auto;
    padding: 20px 0;
    height: inherit;
  }
}

.single-event-wrapper {
  position: relative;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
  &:hover {
    cursor: pointer;
    .bg-color {
      background-color: transparent;
    }
  }

  .event-start-date {
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 0;
    background: $default-gray;
    color: white;
    z-index: 3;
    left: 0.9375rem;
    .date {
      line-height: 20px;
      padding: 10px 15px;
      .month {
        @include fontCall("DINNextLTPro-Regular", 17);
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      .day {
        @include fontCall("DINNextLTPro-Regular", 28);
      }
    }
    .rsvp {
      text-align: center;
      padding: 5px 0 3px 0;
      background: $default-red;
      @include fontCall("DINNextLTPro-Regular", 13);
      text-transform: uppercase;
    }
  }

  .bg-image {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    left: 0.9375rem;
    right: 0.9375rem;
    .no-image {
      @include noImage(300);
    }
  }
  .bg-color {
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0.9375rem;
    right: 0.9375rem;
    bottom: 0;
    box-sizing: border-box;
  }

  .title {
    left: 2.5rem;
    right: 0.9375rem;
    z-index: 4;
    position: absolute;
    top: 100px;
    @include fontCall("DINNextLTPro-Light", 30);
    a {
      color: white;
    }
  }

  .footer {
    border-top: 2px solid $default-red;
    position: absolute;
    bottom: 0;
    left: 0.9375rem;
    right: 0.9375rem;
    z-index: 5;
    background: $default-light-gray;

    @include fontCall("DINNextLTPro-Medium", 16);
    color: $default-gray;

    &.qns {
      padding: 15px;
    }

    &.brooklyn {
      padding: 9px 15px 10px 15px;
    }
    .footer-text {
      margin-left: 15px;
    }
  }
}

.star-network-homepage-content {
  .single-event-wrapper {
    &:last-child {
      float: left;
    }
    &:nth-child(3n) {
      float: right;
    }
  }
}

.main-content-data {
  .spots-wrapper {

    margin-top: 60px;
    .star-network-homepage-content {
      height: 640px;
      display: inline-block;
      width: 100%;
    }
    .single-event-wrapper {
      &:last-child {
        float: left;
      }
      &:nth-child(3n) {
        float: right;
      }
    }
  }
}

.footer-wrapper-star-network {
  margin-top: 40px;
  #footer {
    .footer-menu {
      background: none;
      ul {
        li {
          @include fontCall("DINNextLTPro-Light", 18);
        }
      }
    }
  }
  .menu-star-network-menu-main-footer-left-container {
    li {
      a {
        float: left;
      }
      &:after {
        content: "/";
        float: left;
        margin-top: 3px;
        padding: 0 10px;
        line-height: 25px;
        color: white;
      }
      &:last-of-type {
        &:after {
          content: "";
        }
      }
    }
  }
}

.arrow {
  position: absolute;
  top: 45%;
  a {
    width: 17px;
    height: 42px;
    display: block;
    background: url($image-path + 'arrow-sprite.png') no-repeat center;
  }

  &.left {
    left: -20px;
    a {
      background-position: 0 0;
      &:hover {
        background-position: 0 -43px;
      }
    }
  }

  &.right {
    right: -20px;
    a {
      background-position: -18px 0;
      &:hover {
        background-position: -18px -43px;
      }
    }
  }
}

/* Star Network Additional Page. Start */
.star-main-content-wrapper {
  #content {
    margin-top: 0;
    padding-top: 40px;
    .star-network-content {
      background: rgba(255, 255, 255, .9);
      padding: 50px 190px;
      border: 1px solid #c2c2c2;
      .star-network-additional-page-title {
        @include fontCall("DINNextLTPro-Regular", 50);
        color: $default-red;
        text-align: center;
        line-height: 45px;
        margin-top: 10px;
      }
      .star-network-additional-page-sublime {
        @include fontCall("DINNextLTPro-Regular", 30);
        color: $default-gray;
        text-align: center;
      }
    }
  }

  &.single-event-page {
    #content {
      padding-top: 195px;
      .star-network-content {
        padding: 0;
        border: none;
        .star-network-additional-page-title {
          padding: 65px 130px 10px;
          background: black;
          margin-top: 0;
          color: white;
          @include fontCall("DINNextLTPro-Light", 50);
          position: relative;
          .event-type {
            position: absolute;
            width: 168px;
            height: 168px;
            top: -60%;
            left: 0;
            right: 0;
            margin: auto;
            &.kings {
              background: url("../img/event-type/kings.jpg") no-repeat;
            }
          }
          .event-additional-info {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
              display: inline-block;
              color: $default-red;
              @include fontCall("DINNextLTPro-Light", 26);
              margin-right: 20px;
            }
          }
        }
        .event-method {
          padding: 20px;
          text-align: center;
          background: $default-gray url("../img/header-bg-dark.png");
          button {
            border-radius: 10px;
            margin: 0 20px 0 0;
            @include fontCall("DINNextLTPro-Light", 24);
            width: 210px;
            text-align: center;
            padding: 12px 0 10px;
            &.red {
              background: $default-red;
            }
            &.yellow {
              background: #deb437;
            }
          }
        }

        .star-network-additional-page-content {
          padding: 50px 190px;
          border: 1px solid $default-light-gray;
          border-top: none;
          border-bottom: none;
          .excerpt {
            p {
              @include fontCall("DINNextLTPro-Light", 30);
              color: $default-gray;
              line-height: 30px;
            }
          }
          .content {
            p {
              @include fontCall("DINNextLTPro-Light", 18);
              color: $default-gray;
              line-height: 22px;
              a {
                color: $default-red;
              }
            }
          }
        }

        .star-network-additional-event-honoree {
          background: #f2f2f2;
          .people-honoree-wrapper {
            .people-honoree-title {
              @include fontCall("DINNextLTPro-Light", 36);
              color: $default-red;
              text-align: center;
              &:before, &:after {
                content: "\2022";
              }
            }
            .people-honoree-data {
              padding: 0 190px;
              display: inline-block;
              ul {
                text-align: center;
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                  width: 170px;
                  display: inline-block;
                  margin: 0 15px 30px 0;
                  text-align: center;
                  vertical-align: top;
                  &:nth-of-type(4n) {
                    margin-right: 0;
                  }
                  .image {
                    img {
                      margin-bottom: -20px;
                    }
                    .headshot {
                      font-size: 15px;
                      text-transform: uppercase;
                      display: inline;
                      padding: 5px;
                      background: black;
                      color: white;
                    }
                  }
                  .name {
                    a {
                      @include fontCall("DINNextLTPro-Light", 18);
                      color: $default-red;
                      line-height: 18px;
                      text-transform: capitalize;
                      margin-top: 10px;
                      word-wrap: break-word;
                    }
                    @include fontCall("DINNextLTPro-Light", 18);
                    color: $default-red;
                    line-height: 18px;
                    text-transform: capitalize;
                    margin-top: 10px;
                    word-wrap: break-word;
                  }
                  .title, .company {
                    color: $default-gray;
                    @include fontCall("DINNextLTPro-Light", 14);
                    text-transform: capitalize;
                    a {
                      color: $default-gray;
                      @include fontCall("DINNextLTPro-Light", 14);
                      text-transform: capitalize;
                    }
                  }
                }
              }
            }
          }
        }

        .star-network-additional-event-info {
          border: 1px solid $default-light-gray;
          border-top: none;
          padding: 50px 190px;
          .event-sponsor-wrapper {
            .event-sponsor-title {
              @include fontCall("DINNextLTPro-Light", 36);
              color: $default-red;
              text-align: center;
            }
            .event-sponsor-data {
              ul {
                list-style: none;
                width: 100%;
                margin: 0;
                text-align: center;
                li {
                  margin: 0 14px 30px 0;
                  text-align: center;
                  display: inline-block;
                  width: 170px;
                }
                padding: 0;
                &.presenting-wrapper {
//                  img {
//                    width: 100%;
//                    height: 115px;
//                  }
                }
                &.regular-wrapper, &.gold-wrapper {
                  li {
                    width: 170px;
                    display: inline-block;
                  }
                }
              }
            }
          }
          .event-method-after-content {
            text-align: center;
            border-top: 1px solid $default-light-gray;
            border-bottom: 1px solid $default-light-gray;
            padding: 20px;
            button {
              border-radius: 10px;
              margin: 0 20px 0 0;
              @include fontCall("DINNextLTPro-Light", 24);
              width: 210px;
              text-align: center;
              padding: 12px 0 10px;
              &.red {
                background: $default-red;
              }
              &.yellow {
                background: #deb437;
              }
            }
          }

          .event-map-wrapper {
            display: inline-block;
            margin: 60px 0;
            width: 100%;
            .event-map-title {
              @include fontCall("DINNextLTPro-UltraLight", 24);
              color: white;
              background: $default-red;
              text-align: center;
              padding: 10px 0 8px;
            }
            #map_canvas {
              float: left;
            }
            .event-map-info {
              margin-left: 150px;
              padding: 15px 25px;
              background: #f2f2f2;
              min-height: 150px;
              max-height: 150px;
              .location-name {
                @include fontCall("DINNextLTPro-UltraLight", 28);
                margin-bottom: 10px;
                line-height: 26px;
              }
              .location-address {
                @include fontCall("DINNextLTPro-UltraLight", 21);
                width: 165px;
                line-height: 22px;
                margin-bottom: 10px;
              }
              .location-q,
              .location-n {
                padding: 5px 7px 4px 8px;
                display: inline-block;
                background: #ffcd08;
                text-transform: uppercase;
                border-radius: 50%;
                color: white;
                font-size: 15px;
                line-height: 17px;
              }
            }
          }
        }
      }
    }
  }
}

/* Star Network Additional Page. End */

.form-wrapper {
  padding: 0 95px;
  #newsletter-form, #speak-form, #nominate-form, #sponsor-form {
    label.error {
      display: none !important;
    }

    input[type="text"],
    input[type="email"] {
      background: #f2f2f2;
      border: 1px solid #e1e1e1;
      @include fontCall("DINNextLTPro-Light", 21);
      padding: 30px 20px 28px 20px;
      color: #707070;
      border-radius: 10px;
      margin: 0 0 1rem 0;
      &.error {
        border: 1px solid red;
      }
    }

    .fieldset {
      color: #707070;
      @include fontCall("DINNextLTPro-Light", 21);
    }

    .select-list {
      label {
        color: #707070;
        @include fontCall("DINNextLTPro-Light", 21);
      }
      select {
        color: #707070;
        border-radius: 10px;
        height: 60px;
        background-color: #f2f2f2;
        background-image: url('../img/select-bg.jpg');
        background-repeat: no-repeat;
        border: 1px solid #e1e1e1;
        background-position: right 20px center;
        @include fontCall("DINNextLTPro-Light", 21);
        &.error {
          border: 1px solid red;
        }
      }
    }

    .checkboxes {
      .checkboxes-title {
        @include fontCall("DINNextLTPro-Regular", 18);
        color: #464646;
        margin-bottom: 20px;
        margin-top: 25px;
      }
      > div {
        margin-bottom: 10px;
      }
      label {
        @include fontCall("DINNextLTPro-Light", 21);
        color: #707070;
        input {
          display: none;
        }
        .custom.checkbox {
          border: 1px solid #636363;
          width: 20px;
          height: 20px;
          display: inline-block;
          background: white;
          margin-bottom: -2px;
          margin-right: 15px;
        }
        input:checked + span:before {
          content: "";
          display: block;
          width: 18px;
          height: 18px;
          background: #d64949;
          position: relative;
        }
      }
    }
    .submit {
      margin-top: 65px;
      text-align: center;
      input {
        border: none;
        @include fontCall("DINNextLTPro-Light", 24);
        text-transform: capitalize;
        color: white;
        background: $default-red;
        padding: 22px 100px 20px;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    .textarea {
      label {
        color: #707070;
        @include fontCall("DINNextLTPro-Light", 21);
      }
      textarea {
        background: #f2f2f2;
        border: 1px solid #e1e1e1;
        @include fontCall("DINNextLTPro-Light", 21);
        padding: 30px 20px 28px 20px;
        color: #707070;
        border-radius: 10px;
        height: 200px;
        resize: none;
        &.error {
          border: 1px solid red;
        }
      }

    }
  }
}

.ajax-success {
  color: #676767;
  @include fontCall("DINNextLTPro-Light", 28);
  text-align: center;
}

.bx-wrapper {
  .bx-viewport {
    box-shadow: none;
    border: none;
    background: none;
  }

  .bx-prev, .bx-next {
    background: url($image-path + 'arrow-sprite.png') no-repeat center;
    width: 17px !important;
    height: 42px !important;
  }

  .bx-prev {
    left: -40px;
    background-position: 0 0;
    &:hover {
      background-position: 0 -43px;
    }
  }

  .bx-next {
    right: -20px;
    background-position: -18px 0;
    &:hover {
      background-position: -18px -43px;
    }
  }
}


.extra-post-header {
  border: 1px solid #c2c2c2;
  border-bottom: none;
  padding: 25px;
  position: relative;
  h1 {
    color: $default-red;
    @include fontCall("DINNextLTPro-Regular", 50);
  }
}

.under-image-wrapper {
  border: 1px solid #c2c2c2;
  border-top: none;
  padding: 25px;
  .date-time-info {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    li {
      &:first-child {
        margin-left: 0;
      }
      margin: 0 5px;
      display: inline-block;
      @include fontCall("DINNextLTPro-UltraLight", 18);
    }
  }
  .extra-post-content {
    @include fontCall("DINNextLTPro-UltraLight", 18);
    color: #464646;
    a {
      @include fontCall("DINNextLTPro-Regular", 18);
      color: $default-red;
    }
  }
  .social-share-icons.single-customize {
    margin-top: 15px;
    .social-share-title {
      margin-bottom: 15px;
      @include fontCall("DINNextLTPro-Medium", 24);
      color: #d64949;
    }
  }
}

.post-social-button .post-social-button-wrapper {
  background: #ebebeb;
  padding: 10px 10px;
}

.post-social-button {
  display: inline-block;
  float: left;
  position: relative;
  width: 50px;
  margin-left: 0px;
}

.extra-post-gallery {
  position: relative;
  .bjqs-controls {
    position: absolute;
    width: 100%;
    top: 45%;
    li {
      background: url($image-path + 'arrow-sprite.png') no-repeat center;
      width: 17px !important;
      height: 42px !important;
      position: absolute;
      a {
        width: inherit;
        height: inherit;
        display: inline-block;

      }
      &.bjqs-prev {
        left: -40px;
        background-position: 0 0;
        &:hover {
          background-position: 0 -43px;
        }

      }
      &.bjqs-next {
        background-position: -18px 0;
        right: -40px;
        position: absolute;
        top: 0;
        &:hover {
          background-position: -18px -43px;
        }
      }
    }
  }
}

.realperson-text {
  font-family: "Courier New",monospace;
  font-size: 6px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 3px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.realperson-challenge {
  float: left;
  margin-top: 25px;
  margin-right: 10px;
}

#defaultReal {
  width: 363px;
}

.realperson-regen {
  font-size: 0;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAP1JREFUSIntlL9KxEAQh79Zo3BwYKGVkJB4hXYKQSvhCrH1AQ4Ln8BWH0J8JrGySW0jB3cn6BsE1L2x0uLYMRvSKOQr58/vNwy7Az09DWw0Fax1NLgC3oHXjjq/cg2UVlKM+CWwHesgIhNVPQdeVnOJ0bCvqjeR+keqSkjcNGjBMXAC3FoFLhRU1bdIg03grv1cfxAZMw6uO7iib3az7JSIv1KWZbJIF4etDIq0OJvO5/eAbzKo61qc8+EXGRTPiguHfxKRpdGkn879nAkRWXfe++fZ7HG1NuyayEOyHAyGW8OpNXVVVR9WLoo8z/dGO6O0k0iEyQH2Oen5J3wBuEg17WbXsWcAAAAASUVORK5CYII=') no-repeat;
  width: 24px;
  height: 24px;
  float: left;
  margin-top: -10px;
  cursor: pointer;
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}